/* CSS declarations go here */

html, body {
    height: 100%;
}

.dropzone {
    height: 100%;
    padding: 0px 40px;
    padding-top: 30px;
    border: 5px solid white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.dropzone.dropnow {
    border: 5px solid mediumspringgreen; 
}
.file .file_link {
    width: 40%;
}
.file .file_link input {
    box-shadow: none;
    cursor: initial;
}