html, body {
    height: 100%;
}

.logo {
	cursor: pointer;
    img {
        width: 300px;
        
        @media (max-width: 500px) {
            & { width: 200px; }
        }
    }
}

.well-text-color {
    color: #CCC;
}

#file-picker {
    display: none;
}

.imagepage {
    .logo img {
        width: 70px;
		margin-top: -20px;
    }
    
    .panel-body {
        .img_wrapper {
            text-align: center;
            
            img {
                width: auto;
                max-width: 100%;
            }
        }
    }
}

.site-nav {
	margin-bottom: 10px;
	li {font-weight: bold;}
}

.content-wrapper {
    padding: 0px 40px;
    padding-top: 20px;
    height: 100%;
    border: 5px solid white;
}

.dropzone {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    position: fixed;
    overflow-y: auto;
    width: 100%;
    height: 100%;
    
    &.dropnow {
        border: 5px solid mediumspringgreen;
    }
}

.file_link input {
    box-shadow: none;
    font-weight: normal;
    
    &[disabled] {
        cursor: initial;
    }
}